@import '../../styles/variables.css';

.personal-dropdown {
  position: relative;
  display: inline-block;
}

.personal-dropdown-btn {
  background: none;
  color: var(--brand-color);
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: inherit;
  padding: 0;
  transition: none;
  position: relative;
  font-family: var(--brand-font);
  z-index: 2;
  margin-right: 20px;
}

.personal-dropdown-btn:hover {
  border: none;
}

.personal-dropdown-menu {
  position: absolute;
  left: 40%;
  top: 2.5em;
  transform: translateX(-50%);
  background: var(--navbar-bg);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 0 0 8px 8px;
  list-style: none;
  margin: 0;
  padding: 0em 0 0em 0;
  min-width: 120px;
  z-index: 2000;
  text-align: center;
}

.personal-dropdown-menu .dropdown-label {
  font-family: var(--brand-font);
  font-size: 1.1em;
  color: var(--brand-color);
  padding: 0.5em 1em 0.3em 1em;
  cursor: default;
  user-select: none;
  background: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.2em;
}

.personal-dropdown-menu li {
  padding: 0.5em 1em;
  cursor: pointer;
  color: var(--brand-color);
  transition: background 0.15s, border-radius 0.15s, border-bottom 0.15s;
  font-family: var(--brand-font);
  border-radius: 0 0 8px 8px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  min-width: 120px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.personal-dropdown-menu li.active {
  font-weight: bold;
  background: var(--brand-color-white);
}

.personal-dropdown-menu li span[role="img"] {
  font-size: 1.3rem;
  line-height: 1;
  display: inline-block;
}

.personal-dropdown-menu li:last-child:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.personal-dropdown-menu li.active:first-child {
  border-radius: 0;
}

.personal-dropdown-btn-flag {
  margin-right: 8px;
  margin-bottom: 2px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

}

@media (max-width: 768px) {
  .personal-dropdown-btn-flag {
      margin-bottom: 5px;
  } 

  .personal-dropdown-btn {
    font-size: 2.5rem;
    margin-right: 0px
  }
  .personal-dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
    min-width: 120px;
    font-size: 1.3rem;
  }
  .personal-dropdown-menu li {
    padding: 0.5em 1em;
    min-width: 120px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}