:root {
  --brand-color: #333;
  --brand-color-dark: #222;
  --brand-color-medium: #666;
  --brand-color-lignt: #888;
  --brand-color-white: #fff;

  --brand-orange: #ffb347;
  --brand-orange-dark:#f47134;
  --brand-orange-darker:#fa621b;
  --brand-orange-medium: #f6a12c;


  --brand-font: 'Passion One', 'Mallanna', system-ui, Avenir, Helvetica, Arial, sans-serif;
   --brand-font-mallanna: 'Mallanna', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --navbar-bg: #fff;
  --web-bg: #eaeaea;
  --brand-link-hover: #484747;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --brand-success: #2ecc40;
}
