@import './styles/variables.css';

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--web-bg);
  font-synthesis: none;
  text-rendering: osptimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--brand-font);
}

a {
  font-weight: 500;
  color: var(--brand-color);
  text-decoration: inherit;
}
a:hover {
  color:  #484747;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
